.logo {
    width: 250px;
    height: 250px;
    opacity: 10;
}

.shelf {
    background-color: #b0330b;
    border: slategray 4px solid ;
    border-radius: 35px;
    text-align: center;
    padding: 5fr;
}

.main-section {
    background-color: burlywood;
    padding: 4fr;
    margin: 15fr;
}